* {
  padding: 0;
  margin: 0;
  --color-main-purple: #cc63c7;
}

body {
  background: linear-gradient(var(--color-main-purple), #cc67c3);
  color: white;
}

.navbar {
  background: var(--color-main-purple);
  font-family: Ubuntu;
}

.navbar-brand {
  font-weight: 600;
  font-size: 30px;
}
.navbar-toggler {
  border: none;
}

#navbar {
  color: white;
}

/* ----------------------------------- Home -------------------------------------- */
.hero-text {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 3rem;
}

.btn-login {
  background-color: rgb(212, 149, 149);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 23px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.btn {
  border: none;
}

.logo {
  width: 30px;
  margin-bottom: 7px;
}

/* ----------------------------------- Modal -------------------------------------- */
.modal-login {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.modal-text {
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.btn-close {
  border: none;
}

@media screen and (max-width: 375px) {
  .navbar {
    padding: 1rem;
    color: white;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-toggler {
    font-size: 1rem;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 675px) {
  .navbar {
    padding: 2rem 6rem;
  }

  .navbar-brand {
    font-size: 30px;
  }

  .nav-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    padding: 5rem 10rem;
  }

  .navbar-brand {
    font-size: 30px;
  }
}
